@font-face {
  font-family: 'gilroyextrabold';
  src: url('./Assets/gilroy-extrabold-webfont.woff2') format('woff2'),
       url('./Assets/gilroy-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gilroylight';
  src: url('./Assets/gilroy-light-webfont.woff2') format('woff2'),
       url('./Assets/gilroy-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


body {
  background-color: #f5f7f9;
  font-family: 'gilroylight';
  
}
li{
  list-style:none;
}

.logo{
  max-width: 150px;
}
.button {
  width: 32px;
  height: 32px;
  background-color: #f1f8fd;
  padding: 8px;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #222e51;
  box-shadow:
    6px 6px 6px rgba(0,0,0,0.05),
    -6px -6px 6px rgba(255,255,255,0.6),
    inset 2px 2px 5px rgba(0,0,0,0.03),
    inset -2px -2px 5px rgba(255,255,255,0.4);
  transition: all 0.3s;
}

.button:hover {
  box-shadow:
    6px 6px 6px rgba(0,0,0,0.05),
    -6px -6px 6px rgba(255,255,255,0.6),
    inset 3px 3px 3px rgba(0,0,0,0.03),
    inset -3px -3px 3px rgba(255,255,255,0.4);
}

.button:active {
  box-shadow:
    6px 6px 6px rgba(0,0,0,0.05),
    -6px -6px 6px rgba(255,255,255,0.6),
    inset 8px 8px 8px rgba(0,0,0,0.05),
    inset -8px -8px 8px rgba(255,255,255,0.6);
}

nav{
  background: #fff;
  padding: 25px 5%;
}