body {
  background-color: #e5edf2;
}
li{
  list-style:none;
}
.button {
  width: 32px;
  height: 32px;
  background-color: #f1f8fd;
  padding: 8px;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #222e51;
  box-shadow:
    6px 6px 6px rgba(0,0,0,0.05),
    -6px -6px 6px rgba(255,255,255,0.6),
    inset 2px 2px 5px rgba(0,0,0,0.03),
    inset -2px -2px 5px rgba(255,255,255,0.4);
  transition: all 0.3s;
}

.button:hover {
  box-shadow:
    6px 6px 6px rgba(0,0,0,0.05),
    -6px -6px 6px rgba(255,255,255,0.6),
    inset 3px 3px 3px rgba(0,0,0,0.03),
    inset -3px -3px 3px rgba(255,255,255,0.4);
}

.button:active {
  box-shadow:
    6px 6px 6px rgba(0,0,0,0.05),
    -6px -6px 6px rgba(255,255,255,0.6),
    inset 8px 8px 8px rgba(0,0,0,0.05),
    inset -8px -8px 8px rgba(255,255,255,0.6);
}